<div class="container">
  <div class="row">
     <div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <form>    
  <div class="form-group has-success">
    <label for="email">Votre adresse mail</label>
    <input type="email" class="form-control" id="email">
  </div>
  
  <div class="form-group has-success">
    <label for="name">Nom</label>
    <input type="text" class="form-control" id="name">
  </div>
  
  <div class="form-group has-success">
    <label for="first">Prénom</label>
    <input type="text" class="form-control" id="firsr">
  </div>
  
  <div class="form-group has-success">
    <label for="phone">Votre numéro de téléphone</label>
    <input type="number" class="form-control" id="phone">
  </div>
  
  <div class="form-group has-success">
    <label for="date">Votre date de réservation</label>
    <input type="date" class="form-control" id="date">
  </div>
    
   <div class="form-group has-success">
     <label for="time">Votre heure d'arrivée</label>
     <input type="time" class="form-control" id="phone">
    </div>
    
   <button type="submit" class="btn btn-default valider">Valider votre réservation</button>
    
     </form>
    </div>
  </div>
</div>
    

   
    
