<div class="body">
  
<h1>LES VERRINES</h1>
<h2>Bar-Restaurant de verrines</h2>

<div class="container">
  <div class="row content">
    
    <div class="col-md-6 contact">
      
  <h4>Contact et info pratiques</h4>
      
    </div>
    
    <div class="col-md-6 social">
     
        <h4>Soirées</h4>
      
    </div>
  </div>
  <div class="row content">
    <div class="col-md-6">
      <div>
  <h4>Carte et Happy hours</h4>
      </div>
    </div>
    
   <div class="col-md-6">
   <div>
  <h4>Photos</h4>
    </div>
   </div>
  </div>
    
  </div>
