<div class="container-fluid appli text-center">
  <div class="row content">
    
    <div class="col-sm-6 col-md-3">
      <a href="#"><i class="fa fa-phone-square fa-4x"></i></a> 
    <h4>Contact et info pratiques</h4>
      
    </div>
    
    <div class="col-sm-6 col-md-3">
      <a href="#"><i class="fa fa-glass fa-4x"></i></a>
      <h4>Soirées</h4>
      
    </div>
 
    <div class="col-sm-6 col-md-3">
      
      <a href="#"><i class="fa fa-cutlery fa-4x"></i></a>
        <h4>Carte et Happy hours</h4>
        
     
    </div>
    
   <div class="col-sm-6 col-md-3">
   
     <a href="#"><i class="fa fa-camera fa-4x"></i></a>
     <h4>Photos</h4>
     
    </div>
   
   </div>
  </div>
    
