@import "bootstrap-sprockets";
@import "bootstrap";
 
body {
  margin: 0;
  font-family: 'Open Sans' sans-serif;
  color: grey;
  background-color: #FEBC98;
  background-size: 100% 80%;
  background-repeat: no-repeat;
 }


.navbar-transparent {
   background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

h1 {
  margin-top: 50px;
  text-shadow: 2px 2px 5px black;
}

h2 {
  text-shadow: 2px 2px 5px black;
}
.img {
  background-image: image-url("verrine.jpg");
  background-size: contain;
  background-opacity: 0,7;
  margin: auto;
  width: 400px;
  height: 300px;
  
}
.title {
  text-align: center;
  height: 300px;

 
}

.appli {
  padding: 50px 50px;
  background-color: #F6FBF4;
}

.news {
  margin-top: 100px;
}
  

.footer {
  margin-top : 20px;
  text-align: center;
  background-color: black;
  height: 150px;
  
}


.text-right {
  font-size: 20px;
  
}

.text-right:hover {
  color: white;
}

.fa-facebook-square {
  color: grey;
}

.fa-twitter {
  color: grey;
}

.fa-4x {
  color: grey;
}

.fa-4x:hover {
  color: #FEBC98;
}

form {
  margin-top: 50px;
}

.valider {
  text-align: center;
}


