.body {
  text-align: center;
  background-color: #E31E26;
}

.container {
  background-color: black;
}



.content {
  margin-top: 50px;
  
}





@import "bootstrap-sprockets";
@import "bootstrap";
 
